@model EFCrudTest2.CALPlant1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CALPlant1</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Serial_Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serial_Number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Calibrated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Calibrated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Due_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Due_Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.E_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.E_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SENT_OUT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SENT_OUT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Found)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Found)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cal_Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cal_Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cal_BACK_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cal_BACK_Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageFileName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageFileName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discarded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discarded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NotInUse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NotInUse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileName1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
